.audio.no-replay button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0
}

.audio.no-replay .pause-icon {
    display: none
}

.audio.no-replay.play .pause-icon {
    display: block
}

.audio.no-replay.play .play-icon {
    display: none
}

.audio.no-replay svg {
    color: #22acfb;
    height: 50px;
    width: 50px
}

#prepare .btn-custom {
    border: 3px solid #000;
    border-radius: 10px;
    font-style: italic;
    font-weight: 800
}

audio {
    max-width: 100%;
    width: 100%
}
